.list-style{
	list-style: none;
}
.img-heigth{
	height: 200px;
}
.img-width{
	width: 270px;
}
.img-border-radius{
	border-radius: 50%;
}
/*Css para las listas personalizadas*/
#Lista{
    margin-top: -50px;
    width:98%;
}
#NoExistencia{
	background-color: #fd676a;
	color:white;
}